main{
    width: 100%;
    height:auto;
}

#search label{
   color: #000;
}
#search input{
    border: 2px solid #000;
    border-radius: 5px;
    color:#000;
}


#cursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    background-color: #039c6e62;
    padding: 10px;
}

.card{
    display: flex;
    position: relative;
    font-size: small;
    object-fit: cover;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    border-radius: 5px 5px 0px 0;
    width: 250px;
    height: 150px;
    background-color: #fff;
}
.content-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-card picture{
    width: 50px;
    height: 50px;
}
.content-card picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}

.card::before{
    content:"";
    background-color: #456782;
    position: absolute;
    width: 100%;
    height:50%;
    border-radius: 5px 5px 0px 0;
}

.car span, 
.card div, 
.card span i{
    z-index: 3;
}
.card span i{
    font-size: x-large;
    z-index: 3;
}

footer{
    margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
    footer{
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 1024px) {

    .menu-item:hover{
        background-color: #ffaf36a8;
    }
    .menu-item a:hover{
        color: #0fad86dc;
    }
    main{
        max-width: 100%;
    }

    #cursos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
    }

    .card:hover{
        transition: all .5s;
        transform:scale(1.2);
    }
    footer{
        margin-bottom: 0px;
    }
}