*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /* Color Theme Swatches in Hex */
    --color-principal: #163A59;
    --color-secundario: #736448;
    --color-complemento: #402F1A;
    --color-base: #D9CDBF;
    --color-base2: #A68C76; 
    --color-black: #000;
    --color-white: #fff;
}

body{
    background-color: var(--color-base);
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1,
h2,
h3{
    font-weight:400;
    margin: 8px;
}
/*Estilos del header y sus hijos*/
header{
    display: grid;
    justify-items: center;
    text-align: center;
}

#slogan{
    margin-top: 70px;
}
.nav{
    position: fixed;
    width: 100%;
    height: max-content;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    background-color:var(--color-principal);
}

.image-header {
    display: none;
}

.logo{
    width: 40px;
    height: 40px;
    background-color: var(--color-white);
    border-radius: 50%;
}

.menu{
    position:absolute;
    backdrop-filter: blur(20px);
    width: 95%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    display: none;
    z-index: 10;
    transition: all .7s;
}

.active{
    display: flex;
}

.menu #btnClose{
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    font-size: large;
    font-weight: bold;
    color: var(--color-white);
    top: 16px;
}

.menu-item{
    background-color: var(--color-secundario);
    width: 95%;
    height: 2rem;
    margin: 8px;
    border-radius: 8px;
}

.menu-item:hover{
    background-color: var(--color-base);
    opacity: .2;
}

.menu-item a{
    font-family: Times, serif;
    font-weight: 700;
    color: var(--color-white);
    font-size: 23px;
}
.menu-item a:hover{
    color: var(--color-principal);
}
.movil-menu{
    z-index: 3;
    margin: 8px 12px;
    color: var(--color-white);
    cursor: pointer;
}
#movil-menu{
    float: right;
    background-color: transparent;
    border: none;
    color:var(--color-white);
    font-size: larger;
    z-index: 3;
}

/*Contenido principal*/

main{
    width: 100%;
    height: min-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section{
    width: 95%;
    margin: 12px 0;
    text-align: center;
}

article{
    margin: 12px 0;
}

article img{
    width: 70%;
}

aside{
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

/*Estilos del formulario de contacto*/

form{
    display: grid;
    grid-template-columns:1fr;
    background-color: var(--color-secundario);
    border-radius: 4px;
    max-width: fit-content;
    height: auto;
    padding: 12px;
}
form h3{
    color: var(--color-naranja);
}
label{
    color: var(--color-blanco);
    margin-top: 8px ;
}
input{
    border: none;
    background-color: transparent;
    outline: none;
    color:var(--color-white);
    padding: 4px;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--color-complemento);
}

#btnsend{
    background-color:var(--color-principal);
    color:var(--color-white);
    border: none;
    margin-top: 4px;
    padding: 4px;
    border-radius: 4px;
    transition: all .5s;
}
#btnsend:active{
    transform: scale(.8);
    opacity: .2;
    font-weight: bold;
}

/*Seccion de comentarios estudiantes*/

.coment-container{
    width: 100%;
    margin: 8px 0;
}
.coment{
    width: 100%;
    height: auto;
    display: flex;
    border-bottom: 1px solid var(--color-complemento);
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    margin-bottom: 8px;
}
.img-coment{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--color-secundario);
}
.img-coment img{
    border-radius: 50%;
}
/*Estilos del pie de pagina*/

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--color-secundario);
    padding: 8px;
    font-size: small;
    text-align: center;
}

footer li{
    margin: 4px 0;
}

footer a{
    color: var(--color-black);
    font-weight: 500;
}
/*Media querys*/
@media  screen and (min-width: 767px) {

    .nav{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .image-header {
        margin-top: 70px;
        position: relative;
        display: flex;
        width: 90vw;
        height: 400px;
        z-index: -1;
    }
    
    .image-header img{
        position: absolute;
    }

    .menu{
        float: none;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 8vh;
    }

    .nav button{
        display: none;
    }

    .menu-item{
        background-color: transparent;
        width: 12%;
        height: 2rem;
        margin: 8px;
        border-radius: 8px;
    }
    

    main{
        max-width: 65%;
        display: inline-flex;
    }

    article img{
        width: 30%;
    }

    aside{
        background-color: var(--color-base2);
        float:right;
        margin-top: 0;
        margin-right: 12px;
        width: 30%;
    }
    form{
        grid-template-columns: 1fr;
    }

    footer{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .coment-container{
        width: 100%;
        margin: 8px 0;
    }
}

@media screen and (min-width: 1024px) {

    .nav{
        height: 8vh;
    }
    .nav button{
        display: none;
    }
    .image-header{
        margin-top: 70px;
    }
    main{
        max-width: 65%;
    }
    aside{
        float:right;
        margin-top: 0;
        margin-right: 12px;
        width: 30%;
        padding: 12px;
    }
    footer{
        grid-template-columns: 1fr 1fr 1fr;
    }
}