*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /* Color Theme Swatches in Hex */
--color-azul: #3D4073; 
--color-black: #1A1E26; 
--color-gris:#d7dbdd;
--color-blanco:#fff;
--color-azul2: #35278C; 
--color-azul3: #5155A6; 
--color-verde: #022623; 
--color-aguaMarina: #89D9D1; 
--color-naranja: #BF8665; 
}

body{
    background-color: var(--color-gris);
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Estilos del header y sus hijos*/
header{
    text-align: center;
}
h1,
h2,
h3{
    font-weight:400;
    margin: 8px;
}
.nav{
    width: 100%;
    height: 8vh;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(var(--color-aguaMarina), var(--color-azul));
}
.image-header {
    display: none;
}

.logo{
    width: 60px;
    height: 30px;
}
.logo  img{

    border-radius: 8px;
}
.menu{
    position:absolute;
    background-color: var(--color-azul3);
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    display: none;
    z-index: 10;
}

.menu-item{
    margin: 8px;
}

.menu-item a{
    color:var(--color-blanco);
}

.movil-menu{
    z-index: 3;
    margin: 8px 12px;
}
#movil-menu{
    display: none;
    float: right;
    z-index: 3;
}

#movil-menu:checked ~ .menu{
    display: flex;
}

/*Contenido principal*/

main{
    width: 100%;
    height: min-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section{
    width: 95%;
    margin: 12px 0;
    text-align: center;
}

article{
    margin: 12px 0;
}

article img{
    width: 70%;
}

aside{
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/*Estilos del formulario de contacto*/

form{
    display: grid;
    grid-template-columns:1fr;
    background-color: var(--color-verde);
    border-radius: 4px;
    max-width: fit-content;
    height: auto;
    padding: 12px;
}
form h3{
    color: var(--color-naranja);
}
label{
    color: var(--color-blanco);
    margin-top: 8px ;
}
input{
    border: none;
    background-color: transparent;
    outline: none;
    color:var(--color-blanco);
    padding: 4px;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--color-blanco);
}

#btnsend{
    background-color:var(--color-naranja);
    border: none;
    margin-top: 4px;
    padding: 4px;
    border-radius: 4px;
    transition: all .5s;
}
#btnsend:active{
    transform: scale(.8);
    font-weight: bold;
}

/*Seccion de comentarios estudiantes*/

.coment-container{
    width: 100%;
    margin: 8px 0;
}
.coment{
    width: 100%;
    height: auto;
    display: flex;
    border-bottom: 1px solid var(--color-black);
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    margin-bottom: 8px;
}
.img-coment{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--color-verde);
}
.img-coment img{
    border-radius: 50%;
}
/*Estilos del pie de pagina*/

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--color-azul2);
    padding: 8px;
    font-size: small;
    text-align: center;
}

footer li{
    margin: 4px 0;
}

footer a{
    color: var(--color-blanco);
}
/*Media querys*/
@media  screen and (min-width: 767px) {

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .image-header {
        margin-top: 4px;
        position: relative;
        display: flex;
        width: 90vw;
        height: 400px;
    }
    
    .image-header img{
        position: absolute;
    }
    .movil-menu{
        display: none;
    }
    .menu{
        float: none;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #334c7004;
        height: 8vh;
    }

    main{
        width: 70%;
        display: inline-flex;
    }

    article img{
        width: 30%;
    }

    aside{
        float:right;
        margin-top: 0;
        width: 30%;
    }
    form{
        grid-template-columns: 1fr;
    }

    footer{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .coment-container{
        width: 100%;
        margin: 8px 0;
    }
}

@media screen and (min-width: 1024px) {
    .menu-item:hover{
        border-radius: 8px;
        padding: 2px;
        background-color: var(--color-azul3);
    }
    .menu-item a:hover{
        color: var(--color-gris);
    }
    main{
        max-width: 75%;
    }
    footer{
        grid-template-columns: 1fr 1fr 1fr;
    }
}